<div>
<link href="resources/css/thumbnail-gallery.css" rel="stylesheet">
<div style="min-height: 10px"></div>
<div class="row">

            <div class="col-sm-12" style="text-align: center">
                <h1 class="page-header">job Gallery</h1>
            </div>
</div>
 <div class="row">
<div class="col-sm-12">
            #if($jobList.size() == 0)
           		<div style="padding:20px"> <font color="red">No Data found</font></div>
            #else
            <div class= row>
            	#foreach($job in $jobList)
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <h5>${job.jobName} ( ${job.companyname} )</h5>
                <a class="thumbnail" href="#" data-placement="top" data-toggle="popover" data-trigger="hover" data-content="${job.jobdescription}">
                
                    <img class="img-responsive" src="resources/images/company/${job.companylogo}" alt="${job.companylogo}">
                </a>
            </div>
			#end
			</div>
			#end	
        </div>

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
</div>