<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nuoverflowtest2</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name = "hibernate.use_sql_comments">true</property>
       
          
         <!-- enable second level cache and query cache -->
         <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
         <property name="hibernate.cache.use_second_level_cache">true</property>
         <property name="hibernate.cache.use_query_cache">true</property>
         <property name="net.sf.ehcache.configurationResourceName">/ehcache.xml</property>
 
  
  <mapping class="com.neu.me.pojo.Person"/>
  <mapping class="com.neu.me.pojo.Jobs"/>
  <mapping class="com.neu.me.pojo.Category"/>
  <mapping class="com.neu.me.pojo.SubCategory"/>
<mapping class="com.neu.me.pojo.Items"/>
  <mapping class="com.neu.me.pojo.Comments"/>
  <mapping class="com.neu.me.pojo.Like"/>
  <mapping class="com.neu.me.pojo.FAQ"/>
 <mapping class="com.neu.me.pojo.useraccount"/>
  
  
 </session-factory>
</hibernate-configuration>
